<script>
	import {browser} from '$app/environment';
	let filesArray = [{"name":"hi", "type":"folder"}];
		if (browser) {
	for (let i = 0; i < filesArray.length; i++) {
				console.log("hi");	


			document.getElementById("files").innerHTML = "<p>hi</p>"; 

	}
		}
	
let tab = "files";
	function files() {

		if (browser) {
			document.getElementById("files2").classList.add("tab-active");
			document.getElementById("git").classList.remove("tab-active");
			document.getElementById("packages").classList.remove("tab-active");
			tab = "files";
		}
	}

	function git() {

		if (browser) {
			document.getElementById("files2").classList.remove("tab-active");
			document.getElementById("git").classList.add("tab-active");
			document.getElementById("packages").classList.remove("tab-active");
			tab = "git";
		}
	}

	function packages() {

		if (browser) {
			document.getElementById("files2").classList.remove("tab-active");
			document.getElementById("git").classList.remove("tab-active");
			document.getElementById("packages").classList.add("tab-active");
			tab = "packages";
		}
	}
</script>


<div class="p-2 flex flex-row space-x-2 justify-between">
	<ul class="menu bg-base-200 w-48 rounded-box p-2 " style="height: 95vh;">
		<div class="tabs">
  <a id="files2" on:click={files} class="tab tab-bordered tab-active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg></a> 
  <a id="git" on:click={git} class="tab tab-bordered "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch"><line x1="6" y1="3" x2="6" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg></a> 
  <a id="packages" on:click={packages} class="tab tab-bordered"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg></a>
</div>
{#if tab == "files"}
<li class="menu-title mt-2">
    <span>Files</span>
  </li>
<div id="files">
	<p>test</p>
</div>
{:else if tab == "git"}
<li class="menu-title mt-2">
    <span>Git</span>
  </li>
<div >

</div>
{:else if tab == "packages"}
<li class="menu-title mt-2">
    <span>Packages</span>
  </li>
<div>
	
</div>
{/if}
</ul>
	<textarea class="p-3 bg-base-200 rounded-xl w-96  resize-x" style="	height: 95vh;">
		
		
	</textarea>
<div class="p-3 bg-base-200 rounded-xl h-full">
			  <p class="menu-title mb-1">
    View
  </p>
		<iframe class="rounded-md " width="560" height="315" src="https://www.youtube-nocookie.com/embed/5kwz7ajxfyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>
